.invite {
  background-image: url(../img/rain_bk.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}
// font-family: 'Merriweather', serif;

// font-family: 'PT Serif', serif;

// font-family: 'Yeseva One', cursive;

.invitation_text {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 27px;
  color: #ffffff;
}

h3 {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: 0 15vw 150px;
 
  text-transform: uppercase;
  color: #ffc700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_yellow {
  display: flex;
  width: 189px;
  height: 41px;
  background: radial-gradient(50% 50% at 50% 50%, #ffc700 0%, #ffc700 100%);
  border-radius: 20px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  margin: 0 auto 0;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #0d0c11;
  transition: 500ms;
  &:hover {
    background: #DADADA;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
}

.text_bold_yellow {
    margin: 0;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffc700;
  margin: 22px 5vw 0;
}

.text_bold_white {
    margin: 0;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 5vw;
}
.arrow_up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
height: 16px;
border-radius: 50%;
background: #FFFFFF;
margin: 11px auto 3px;
}

.link_more {
  font-family: 'PT Serif';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 11px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
margin-bottom: 11px;
}