.quote {
  background-image: url(../img/god.png);
  background-size: cover;
}

.gradient {
background: radial-gradient(
    84.34% 50.29% at 48.75% 49.71%, 
    #2950C2 0%, 
    rgba(38, 91, 199, 0.96) 40.62%, 
    rgba(39, 98, 187, 0) 85.42%
);
}

.openquote {
  margin: 6.1vh 0 2.5vh 6.8vw;
}

.closequote {
  margin: 0 6.8vw 6.1vh 75vw;
}

.quote_text {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 0 10vw;
  color: #ffffff;
}
