.white_sqaers_container {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-top: 45px;
}

.white_square_input {
  position: relative;
  opacity: 0;
  width: 41px;
  height: 42px;
  z-index: 5;
  cursor: pointer;
}

.horizontal_line {
height: 4px;
width: 100%;
color: #F2F3F3;
margin: 24px 0 22px;
background: #F2F3F3;
opacity: 0.15;
} 

.white_square {
  box-sizing: border-box;
  position: relative;
  border: 6px solid transparent;
  cursor: pointer;
  background: #ffffff;
    &:hover {
    border-color: #ffc700;
  }
}

.white_square_text {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 49px;
  text-align: center;
  text-transform: capitalize;
  color: #0d0c11;
  width: 100%;
}

.active_whie_square {
    border-color: #ffc700;
}